
body {
    background-color:#9ccaf3;
    margin:20px 20px 20px 20px;
}

h1 {
    font-family:Georgia, "Times New Roman", serif;
    text-align:center;
    font-size:40px;
}

h2 {
    font-family: Calibri, Verdana, sans-serif;
    font-size:30px;
}

p {
    margin:30px 30px 30px 30px;
    font-family:"Calibri Light", Verdana, sans-serif;
    font-size:20px;
    text-align: center;
}

ul{
    margin:30px 2530 30px 30px;
    font-family:"Calibri Light", Verdana, sans-serif;
    font-size:20px;
}
